*{
    text text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightsalmon;
    margin: 0;
    padding: 0;
    font font-family: open sans;
}

header{
	background-color: black;
	color: aliceblue;
	text-align: center;
	padding: 20px 0;
}

nav{
	width: auto;
	height: 50px;
	background-color: black;
}

nav ul{
	list-style-type: none;
	padding: 0;
	float: right;
}

nav ul li{
	display: inline;
	margin-right: 20px;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

.Picture{
	text-align: justify;
	margin-bottom: 30px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.Picture h2{
	text-align: center;
	font-size: 24px;
}

.Picture img{
	width: 800px;
	height: auto;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

footer{
	background-color: black;
	color: aliceblue;
	text-align: center;
}

